<ion-header>
  <ion-toolbar>
    <ion-title style="text-align:center;">Notifications</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
<ion-list>
  <ion-item-sliding>
    <ion-item class="activated">
      <ion-avatar slot="start"><img src="https://lh3.googleusercontent.com/uW99KiL5Ns0IAcW3QAOBjltlNpR1WhXw1w2hwIBM1mqOFQQC1GByLJHVDI0sL1lGVGPEE7-W-HZ5FrmVHQzUNphtRk38n9d-IQ=w1600-rw">
      </ion-avatar>
      <ion-label>
        <h2><B>Update gans</B></h2>
        <p>Jennie pengen vaksin bareng nih </p>
      </ion-label>
    </ion-item>
    <ion-item-options side="end">
      <ion-item-option (click)="unread(item)">Delete</ion-item-option>
    </ion-item-options>
  </ion-item-sliding>

  <ion-item-sliding>
    <ion-item class="activated">
      <ion-avatar slot="start"><img src="https://cdn.idntimes.com/content-images/post/20180221/3-741ab4e164c6289948e8d0dc19d90e07-63554c11daf7d3705bb57e32acd025a1_600x400.jpg">
      </ion-avatar>
      <ion-label>
        <h2><B>hot news</B></h2>
        <p>Mba Della pengen <br>vaksin bareng nih </p>
      </ion-label>
    </ion-item>
    <ion-item-options side="end">
      <ion-item-option (click)="unread(item)">Delete</ion-item-option>
    </ion-item-options>
  </ion-item-sliding>
</ion-list>
</ion-content>
