<ion-header>
  <ion-toolbar style="--background:#F683FA;">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title style="margin-left:20%;margin-right:auto;--color:white;">Vaksinku</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <div id="container">
    <h1 style="text-align:center;font-weight:bold;">Lupa Kata Sandi</h1>
    <p text-center>
      Masukkan email atau nomor ponsel yang terdaftar. Kami akan mengirimkan kode verifikasi untuk mengatur ulang kata
      sandi.
    </p>
    <ion-item>
      <ion-input type="text" value="" placeholder="Email or Phone Number"></ion-input>
    </ion-item>
    <ion-button expand="block" style="--background:#F683FA;margin-top:10%;">
      Lanjut
    </ion-button>
  </div>

</ion-content>