<ion-tabs>
  <ion-tab-button label="home" icon="sunny" href="/tabs/(home:home)">
    <ion-router-outlet name="home"></ion-router-outlet>
  </ion-tab-button>
  <ion-tab-button label="notifications" icon="sunny" href="/tabs/(notifications:notifications)">
    <ion-router-outlet name="notifications"></ion-router-outlet>
  </ion-tab-button>
  <ion-tab-button label="profile" icon="sunny" href="/tabs/(profile:profile)">
    <ion-router-outlet name="profile"></ion-router-outlet>
  </ion-tab-button>
</ion-tabs>
  