<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button text="" defaultHref="/login"></ion-back-button>
    </ion-buttons>
    <ion-title>Register</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding class="bgstyle">
  <div id="container">
    <div style="display: flex; justify-content: center;">
      <img src="./../../../assets/img/logo/logo_transparent.png" width="150" height="150">
    </div>

    <ion-item>
      <ion-input type="text" value="" placeholder="Name" [(ngModel)]="name"></ion-input>
    </ion-item>
    <br>
    <ion-item>
      <ion-input type="text" value="" placeholder="Email" [(ngModel)]="email"></ion-input>
    </ion-item>
    <br>
    <ion-item>
      <ion-input type="text" value="" placeholder="Phone Number" [(ngModel)]="phone"></ion-input>
    </ion-item>
    <br>
    <ion-item>
      <ion-input type="password" value="" placeholder="Password" [(ngModel)]="password"></ion-input>
    </ion-item>
    <br>
    <ion-item>
      <ion-input type="password" value="" placeholder="Confirm Password" [(ngModel)]="cpassword"></ion-input>
    </ion-item>

    <div id="login">
      <ion-button (click)="register()" expand="block" fill="solid" shape="round">Register</ion-button>
    </div>

  </div>
</ion-content>