.container {
  position: relative;
}

.bottomleft {
  position: absolute;
  width : 100%;
  text-align:left;
  font-weight:bold;
  color : white;
  background-color: rgba(0,0,0,.5);
  bottom: 8px;
  left: 5px;
  right : 5px;
  font-size: 15px;
}

img { 
  max-width: 100%;
  height: auto;
}

#content{
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 20px;
  padding-right: 20px;
}

ion-icon {
  font-size:3em;
} 