<ion-header>
  <ion-toolbar>
    <ion-title text-center>
      Vaksinku
    </ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <div>
    <ion-slides pager="true" [options]="sliderConfig">
      <ion-slide *ngFor="let article of data?.articles | slice:0:5; let i=index" (click)="goSingleNews(article)">
        <div class="container">
          <img [src]="article.urlToImage" alt="Cinque Terre" width="1000" height="300">
          <div class="bottomleft">{{article.title}}</div>
        </div>
      </ion-slide>
    </ion-slides>
  </div>

  <div id="content">
    <section text-center>
      <ion-icon name="person"></ion-icon>
      <h1>Welcome,<br>
        Ryvan wkwk</h1>
    </section>
    <ion-grid>
      <ion-row justify-content:center>
        <ion-col>
          <ion-button>
            TEST
          </ion-button>
        </ion-col>
        <ion-col>
          <ion-button>
            COBA
          </ion-button>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>
</ion-content>