<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button text=""></ion-back-button>
    </ion-buttons>
    <ion-title>News</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <h1 style="font-weight:bold;text-align:center;border-bottom:2px solid #F683FA; display:inline-block;">{{article.title}}</h1>
  <ion-grid>
    <ion-row>
      <ion-col text-left>
        <p style="font-size:10px; font-weight:bold;">{{article.source.name}}</p>
      </ion-col>
      <ion-col text-right>
        <p style="font-size:10px;">{{article.author}}</p>
      </ion-col>
    </ion-row>
  </ion-grid>
  <ion-img [src]="article.urlToImage"></ion-img>
  <p>{{article.description}}</p>
  <ion-button href="{{article.url}}" expand="full" style="--background:#F683FA;">Baca Selengkapnya</ion-button>
</ion-content>