<ion-header>
  <ion-toolbar>
    <ion-buttons slot="end">
      <ion-button (click)="logout()" style="--background:#F683FA;">
        Logout
      </ion-button>
    </ion-buttons>
    <ion-title>My Profile</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding center text-center slots="fixed">
    <img src="https://66.media.tumblr.com/8058a2c223a296c0112d451d7a43524a/tumblr_p937r232Pd1xqre0co2_500.png" width="150" height="150">
    <br>
    <ion-item>
    <ion-label >Name:Neneng Lisa</ion-label>
    </ion-item>
    <ion-item>
    <ion-label >Alamat : Jl.Meruya selatan blok M34 RT 3 RW 6</ion-label>
    </ion-item>
    <ion-item>
    <ion-label >
    	<h2><b>Anggota Keluarga</b></h2>
    	<p> -Bpk.Angga Warian<br>
    		-Ibu.Inggit dacia<br>
    	</p>
    </ion-label>
    </ion-item>
    <br>
    <ion-button expand="block">Edit Profile </ion-button>
</ion-content>
