<ion-header>
  <ion-toolbar>
    <ion-buttons slot="end">
      <ion-button (click)="logout()" style="--background:#F683FA;">
        Logout
      </ion-button>
    </ion-buttons>
    <ion-title>My Profile</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding center text-center slots="fixed">
  <div *ngIf="image" (click)="changeProfilePicture()">
    <img src="{{baseURL}}/{{image}}/" width="150" height="150">
  </div>
  <div *ngIf="!image" (click)="changeProfilePicture()">
    <img src="https://cdn2.iconfinder.com/data/icons/business-management-52/96/Artboard_20-512.png" width="150"
      height="150">
  </div>
  <br>
  <ion-item>
    <ion-label position="stacked">Nama : {{name}} </ion-label>
  </ion-item>
  <ion-item>
    <ion-label position="stacked">Email : {{email}}</ion-label>
  </ion-item>
  <ion-item>
    <ion-label position="stacked">Nomor HP : {{phone}} </ion-label>
  </ion-item>
  <br>
  <ion-button expand="block" style="--background:#F683FA;" (click)="goEdit()">Edit Profile</ion-button>
</ion-content>