<ion-header>
  <ion-toolbar color="dark">
    <ion-title text-center>Schedule List</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button color="dark" [routerLink]="['/schedule']">
      <ion-icon name="add">
      </ion-icon>
    </ion-fab-button>
  </ion-fab>

  <ion-list>
    <ion-item button *ngFor="let schedule of ( schedules | async )" [routerLink]="['/schedule', schedule.id]">
      <ion-label type="floating">
        {{ schedule.tempat }}
      </ion-label>
    </ion-item>
  </ion-list>
</ion-content>