<ion-header>
  <ion-toolbar color="primary">
    <ion-title>Schedule List</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button [routerLink]="['/schedule']">
      <ion-icon name="add">
      </ion-icon>
    </ion-fab-button>
  </ion-fab>

  <ion-list>
    <ion-item button *ngFor="let schedule of ( schedules | async )" [routerLink]="['/schedule', schedule.id]">
      {{ schedule.hari }}
    </ion-item>
  </ion-list>
</ion-content>