<ion-content padding class="bgstyle">
  <div id="container">
    <div>
      <div style="display: flex; justify-content: center;">
        <img src="./../../../assets/img/logo/logo_transparent.png" width="150" height="150">
      </div>
      
      <ion-item text-center>
        <ion-input type="text" value="" placeholder="Email or Username"></ion-input>
      </ion-item>
      <br>
      <ion-item text-center>
        <ion-input type="password" value="" placeholder="Password"></ion-input>
      </ion-item>

    </div>

    <div id="forgotpassword" text-right>
      <a style="color:white;" (click)="forgotPassword()" routerDirection="forward">Forgot Password ?</a>
    </div>

    <div id="login">
      <ion-button (click)="login()" expand="block" fill="solid" shape="round">Masuk</ion-button>
    </div>
    <div id="register">
      <a style="color:white;" (click)="goRegister()" routerDirection="forward">Don't have account ?
        Register!</a>
    </div>


  </div>
</ion-content>